@import './base.css';

@font-face {
  font-family: 'Jua', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Jua');
  font-display: auto;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700');
  font-display: auto;
  font-optical-sizing: auto;
}

:root {
  --hot-pink: #ff4275;
  --dark-pink: #ff759e;
  --pink: #ff9096;
  --dark-slate-blue: #455a64;
  --slate-blue: #8796b3;
  --light-pink: #ffe8ee;
  --pink-grey: #f1d9df;
}

.jua {
  font-family: 'Jua', sans-serif;
}

h1.jua.text-hot-pink {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--hot-pink);
}

.text-hot-pink {
  color: var(--hot-pink);
}

.text-dark-pink {
  color: var(--dark-pink);
}

.text-pink {
  color: var(--pink);
}

.text-dark-slate-blue {
  color: var(--dark-slate-blue);
}

.text-slate-blue {
  color: var(--slate-blue);
}

.bg-light-pink {
  background-color: var(--light-pink);
}

.bg-pink-grey {
  background-color: var(--pink-grey);
}

.bg-pink {
  background-color: var(--pink) !important;
}

.quicksand-semibold {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.btn-pink {
  background-color: var(--dark-pink) !important;
  transition-duration: 0.4s;
  border: 1px solid var(--dark-pink) !important;
  color: white !important;
}

.btn-pink span {
  color: white;
}

.btn-pink:hover span {
  color: var(--dark-pink);
}

.btn-pink:hover {
  background-color: white !important;
  color: var(--dark-pink) !important;
  border: 1px solid var(--pink) !important;
}

.btn-white {
  background-color: white !important;
  transition-duration: 0.4s;
  border: 1px solid var(--dark-pink) !important;
  color: var(--dark-pink) !important;
}

.btn-white:hover {
  background-color: var(--dark-pink) !important;
  color: white !important;
  border: 1px solid var(--dark-pink) !important;
}

.btn-pink-no-hover {
  background-color: var(--dark-pink) !important;
  transition-duration: 0.4s;
  border: 1px solid var(--dark-pink) !important;
  color: white !important;
}

.btn-white-no-hover {
  background-color: white !important;
  transition-duration: 0.4s;
  border: 1px solid var(--dark-pink) !important;
  color: var(--dark-pink) !important;
}

.next-btn {
  font-size: 1.5em !important;
  padding: 0.5em 0.8em !important;
}

hr {
  margin: 8px 0px !important;
  color: var(--hot-pink) !important;
  height: 2px;
  background-color: var(--hot-pink);
}

.hr-slate-blue {
  margin: 8px 0px !important;
  color: var(--slate-blue) !important;
  height: 2px;
  background-color: var(--slate-blue);
}

/* effectively the same as body for our case*/
#app {
  background-color: white;
  font-family: 'Quicksand';
}

.airplane-header {
  background-image: url('airplane.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px;
}

.airplane-header div {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
.airplane-header h1 {
  margin-top: 8px;
}

input::placeholder {
  color: var(--slate-blue) !important;
}

a {
  color: var(--hot-pink) !important;
  text-decoration: none !important;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    background-size: 50% 110%;
  }
}

@media (max-width: 576px) {
  .header {
    background-size: 80% 40%;
  }
}
