.section {
  border: 2px var(--dark-pink) solid;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.section-toggler {
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.section-info {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.15s;
}

.section-info-show {
  max-height: calc(1px * infinity);
  overflow: visible;
  transition: max-height 0.35s;
}

.number {
  border: 2px var(--dark-pink) solid;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  padding: 10px;
  box-sizing: content-box;
  font-weight: bold;
  display: inline-block;
  background-color: white;
  margin: 10px;
  font-size: 2em;
  color: var(--dark-slate-blue);
}

.number-selected {
  background-color: var(--dark-pink);
  color: white;
}
